@model FCSTApplication.Models.StarchData

@{
    ViewData["Title"] = "Delete";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="StarchDatas" asp-action="Index">澱粉市況</a></li>
        <li class="breadcrumb-item active" aria-current="page">刪除</li>
    </ol>
</nav>

<div>
    <h3>你確定要刪除這筆資料?</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Week)*@
            週
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Week)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Date)*@
            日期
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.ChinaShandongPrice)*@
            大陸山東玉米澱粉
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChinaShandongPrice)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.ThaiPrice)*@
            泰國TTSA木薯澱粉
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThaiPrice)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.CornPrice)*@
            玉米期貨
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CornPrice)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.WheatPrice)*@
            小麥期貨
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WheatPrice)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="刪除" class="btn btn-danger" /> |
        <a asp-action="Index">回到列表</a>
    </form>
</div>
